<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cs125">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/restroom"
        android:label="Restroom Finder"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/restroom"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RatingActivity"></activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".PrefrenceActivity" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>